@import "tailwindcss";

@font-face {
    font-family: 'Modak';
    src: url('./fonts/Modak.eot');
    src: url('./fonts/Modak.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Modak.woff2') format('woff2'),
        url('./fonts/Modak.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mouse-Memoirs';
    src: url('./fonts/MouseMemoirs-Regular.eot');
    src: url('./fonts/MouseMemoirs-Regular?#iefix') format('embedded-opentype'),
        url('./fonts/MouseMemoirs-Regular.woff2') format('woff2'),
        url('./fonts/MouseMemoirs-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {

    .row {
        @apply flex flex-wrap
    }

    .center {
        @apply justify-center items-center
    }

    body {
        scroll-behavior: smooth;
    }
}

@layer components {}

@layer utilities {
    .text-stroke-light {
        -webkit-text-stroke: 2px white;
    }

    @media (min-width: 1024px) {
        .text-stroke-light {
            -webkit-text-stroke: 10px white;
        }
    }

    .text-stroke-lightest {
        -webkit-text-stroke: 2px white;
    }

    @media (min-width : 1024) {
        .text-stroke-lightest {
            -webkit-text-stroke: 5px white;
        }
    }

    /* ////////////////////////// style for sticker ///////////// */
    .sticker-container {
        perspective: 1000px;
    }

    .sticker {
        opacity: 0;
        transform: rotateX(70deg) rotateZ(-30deg) scale(1.5) translateZ(200px);
        transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;

    }


    .sticker.is-stuck {
        opacity: 1;
        transform: rotateX(0deg) rotateZ(0deg) scale(1) translateZ(0px);
    }

    /* ////////////////////////// style for sticker ///////////// */


    #stickerBurger,
    #stickerFires {
        transition: filter 0.4s ease;
        will-change: transform, box-shadow;
    }

    #stickerBurger.is-stuck,
    #stickerFires.is-stuck {
        z-index: 30;
        cursor: grab;
    }

    /* افکت خمیدگی ملایم */
    #stickerBurger.is-stuck img,
    #stickerFires.is-stuck img {
        filter: drop-shadow(12px 18px 12px rgba(0, 0, 0, 0.3));
    }

}

@theme {
    --color-beige: #f5e3cd;
    --color-myRed: #f91814;
    --color-myWhite: #fff;
    --color-myBlack: #1b1b1b;
    --color-mustard: #ffd750;
    --color-mustard-dark: #f4a804;

    --font-modak: "Modak";
    --font-Mouse: "Mouse-Memoirs";

}

@keyframes upAndDownHamburger {
    to {
        transform: translateY(30px);
    }

}